In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('counts.csv', index_col=0)

In [3]:
df

           Rep1 Counts  Rep2 Counts  Rep3 Counts
Gene Name
A(2kb)              10           12           30
B(4kb)              20           25           60
C(1kb)               5            8           15
D(10kb)              0            0            1

FPKM normalizacija

 - podeliti vrednosti broja read-ova sa desetim delom od ukupnog broja read-ova u uzorku (normalizacija za velicinu biblioteke).
 - dobijene vrednosti broja read-ova podeliti sa duzinom transkripata u kb (normalizacija za duzinu transkripta).

In [15]:
# library size normalization (division by 10 instead of 10^6)
df_fpkm = df.div(df.sum()/10).round(2)
df_fpkm

           Rep1 Counts  Rep2 Counts  Rep3 Counts    kb
Gene Name
A(2kb)            2.86         2.67         2.83  1.18
B(4kb)            5.71         5.56         5.66  2.35
C(1kb)            1.43         1.78         1.42  0.59
D(10kb)           0.00         0.00         0.09  5.88

Now we need to scale per kb

In [16]:
# save gene sizes in new column
df_fpkm['kb'] = [2,4,1,10]

In [28]:
# gene size normalization
df_fpkm = df_fpkm.div(df_fpkm.kb, axis=0).round(2)
df_fpkm.drop(['kb'], axis=1)

           Rep1 Counts  Rep2 Counts  Rep3 Counts
Gene Name
A(2kb)            1.43         1.34         1.42
B(4kb)            1.43         1.39         1.42
C(1kb)            1.43         1.78         1.42
D(10kb)           0.00         0.00         0.01

In [34]:
# FPKM normalization sums per samples are not equal (samples are not comparable).
df_fpkm.sum()

Rep1 Counts    4.29
Rep2 Counts    4.51
Rep3 Counts    4.27
kb             4.00
dtype: float64

TPM Normalizacija

 - podeliti vrednosti broja read-ova sa duzinom transkripata u kb (normalizacija za velicinu biblioteke).
 - dobijene vrednosti broja read-ova podeliti sa desetim delom od ukupnog broja read-ova u uzorku prethodno normalizovanih za velicinu biblioteke (normalizacija za duzinu transkripta).

In [35]:
df_tpm = df
# save gene sizes in new column
df_tpm['kb'] = [2,4,1,10]

In [36]:
# gene size normalization is performed first
df_tpm = df_tpm.div(df_tpm.kb, axis=0).round(2)
df_tpm

           Rep1 Counts  Rep2 Counts  Rep3 Counts   kb
Gene Name
A(2kb)             5.0         6.00         15.0  1.0
B(4kb)             5.0         6.25         15.0  1.0
C(1kb)             5.0         8.00         15.0  1.0
D(10kb)            0.0         0.00          0.1  1.0

In [37]:
# library size normalization (division by 10 instead of 10^6)
df_tpm = df_tpm.div(df_tpm.sum()/10).round(3)
df_tpm.drop(['kb'], axis=1)

           Rep1 Counts  Rep2 Counts  Rep3 Counts
Gene Name
A(2kb)           3.333        2.963        3.326
B(4kb)           3.333        3.086        3.326
C(1kb)           3.333        3.951        3.326
D(10kb)          0.000        0.000        0.022

In [38]:
# TPM normalization sums per samples are equal (samples are comparable).
df_tpm.sum()

Rep1 Counts     9.999
Rep2 Counts    10.000
Rep3 Counts    10.000
kb             10.000
dtype: float64